
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff='colordiff'

alias quit='exit'
alias la='ls -a --color'
alias ll='ls -lah --color'
alias cls='clear && ls'
alias ..='cd ..'
alias c='clear'
alias nt='nautilus'
alias weather='/usr/bin/ansiweather'
alias forecast='/usr/bin/ansiweather -F'
alias daylight='/usr/bin/ansiweather -d true'
alias chrome='google-chrome'
alias vim='nvim'
alias vi='nvim'
alias n='nnn'

alias gs='git status'
alias ga='git add'
alias gc='git commit -S -m'
alias gp='git push'
alias gpl='git pull'
alias gd='git diff'
alias gsync='git pull && git push'
alias gl='git log --oneline --decorate'
alias gh='git log --color --pretty=format:"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)" --relative-date --decorate'
alias gch='git checkout'


alias outing="ssh outing@ftp.union.rpi.edu"
alias wifi="sudo systemctl restart NetworkManager.service"

function cd() {
  emulate -L zsh
  builtin cd $@ &&
  clear &&
  ls
}

function mkdir() {
  emulate -L zsh
  command mkdir $@ &&
  cd $@
}

