general {
        colors = true
        interval = 10
}

order += "volume master"
order += "wireless wlp2s0"
order += "battery 0"
order += "cpu_usage"
order += "tztime local"

wireless wlp2s0 {
        format_up = "  %quality at %essid"
        format_down = ""
}

battery 0 {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        status_chr = ""
        status_bat = ""
        status_full = ""
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 20
}

tztime local {
        format = " %Y-%m-%d   %l:%M"
}

cpu_usage {
        format = " %usage"
}

volume master {
        format = " %volume"
        format_muted = "  %volume"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}
