general {
        colors = true
        interval = 10
}

order += "volume master"
order += "wireless wlp2s0"
order += "ethernet enx70886b805f25"
order += "battery 0"
order += "cpu_usage"
order += "disk /"
order += "tztime local"
order += "time"

wireless wlp2s0 {
        format_up = "  %essid"
        format_down = ""
}

battery 0 {
        format = "%status %percentage"
        format_down = "No battery"
        status_chr = ""
        status_bat = "🔋"
        status_full = ""
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 20
        integer_battery_capacity = true
}

tztime local {
        format = " %a %b %e"
}

time {
        format = "🕓 %l:%M %p"
}

cpu_usage {
        format = " %usage"
}

volume master {
        format = "🔊 %volume"
        format_muted = "🔈 %volume"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

disk "/" {
        prefix_type = decimal
        format = " %used/%total"
}

ethernet enx70886b805f25 { 
        format_up = ""
        format_down = ""
}
